numpy
tqdm
tensorflow
tensorflow-gpu
keras
pymongo
Pillow
matplotlib
graphviz
pydot_ng
h5py
drawnow
opencv-python
pandas
flask
moviepy
requests
seaborn
scikit-learn
scipy
youtube-dl
ipywidgets
imgaug

