mpi4py
pympler
cma
tensorflow==1.13.1
tensorflow-gpu==1.13.1
keras
gym
gym[box2d]
gym[atari]
setuptools
wheel
jupyterlab
tornado==5.1.1
matplotlib
numpy==1.16.1
scikit-learn
scipy
Pillow
tensor2tensor==1.13.1.
t2t-trainer
imageio